@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #001a4b;
    text-color:#7db0f9;
    font-family: 'Montserrat', sans-serif;
}

.hv-header{
    background-image: url(../public/encabezado.svg);
    height: 190px;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.hv-header .header-info .img-avatar{
    width: 110px;
    height: 110px;
    border: 5px solid #f5f5f5;
    background: #f5f5f5;
    border-radius: 100px;
    margin: auto;
    display: block;
    top: 80px;
    position: relative;

}

.hv-header .info{
    position: relative;
    top: -20px;
    padding: 20px;
}

.hv-header .name-author{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color:#fff
}

.hv-header .name-info{
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 200;
    color:#7db0f9;
    max-width: 600px;
    margin: auto;
}

.hv-header .info .box-linked{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.hv-header .hand{
    font-size: 28px;
}

.hv-tools{
    margin-top: 290px;
    display: grid;
    justify-content: center;

}

.image-first{
    margin: auto;
    display: block;
}

.tools-adobe{
    display: flex;
    max-width: 700px;
    margin: 80px auto;
    padding: 10px;
}

.tools-adobe .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-adobe .title-design{
    font-size: 24px;
    color:#fff
}

.tools-adobe p{
    color: #7db0f9;
    fontSize: 14px
}

.curriculum{
    display: flex;
    padding: 10px;
    margin: auto;
    max-width: 980px;
}

.curriculum .title-curriculum{
    color:#fff;
    font-size: 24px;
}

.curriculum .subtitle-curriculum{
    font-size: 18px;
    color:#7db0f9;
}

.curriculum .paragraph{
    font-size: 12px;
    color:#fff;
}

.curriculum a{
    color:#7db0f9;
    font-size: 12px;
}

.carousel .title:hover{
    color: #296bc7;
}

.carousel .link:hover{
    color: #08192f;
}

.curriculum .column-curriculum{
    width: 33%;
    padding: 10px;
}

.carousel{
    margin: 80px auto;
    padding: 20px;
}

.carousel .title{
    color:#7db0f9;
    font-size: 16px;
}

.carousel .description{
    color:#fff;
    font-size: 11px;
    line-height: 20px;
}

.carousel .container{
    padding: 10px;
    background-color: #011842;
    height: auto;
    width: auto;
    border: 2px solid #001a4b;
    border-radius: 10px;
}

.carousel .language{
    color:#7db0f9;
    font-size: 10px;
}

.carousel .slick-prev{
    left: -23px!important;
}

.carousel .link{
    font-size: 10px;
    color:#7db0f9;
    text-decoration: none;
}

.carousel .link:hover{
    font-size: 10px;
    color: #d6e5fd;
    cursor: pointer;
}

.hv-footer{
    background-image: url(../public/footer.svg);
    width: 100%;
    height: 40px;
    background-size: cover;
}

.hv-footer-description{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.modal-form .modal-shadow{
    cursor: pointer;
    background: rgba(62, 102, 156, 0.5);
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.modal-form .form{
    max-width: 400px;
    position: fixed;
    left: 0;
    top: 28%;
    right: 0;
    margin: auto;
    z-index: 999;
    background: #0b2142e6;
    padding: 10px;
    border-radius: 10px;
}

.modal-form .input-form{
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border:0px;
    border-radius: 4px;
    z-index: 999;
    position: relative;
}

.modal-form .textarea-form{
    margin: 10px auto;
    width: 90%;
    height: 200px;
    padding: 10px;
    display: block;
    border:0px;
    border-radius: 4px;
}

.modal-form .submit-form{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
    background: #123a87;
    color:#fff;
    border-radius: 20px;
    border:0px;
    cursor:pointer
}

.modal-form .success-send{
    background: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    color: #162873;
}

.modal-form .submit-form:hover{
    background: #e7a141;
    color:#fff;
}

.file_1{
    position: absolute;
    top: 190px;
    right: -120px;
}

.file_2{
    position: absolute;
    top: 150px;
    left: -150px;
}

.file_3{
    position: absolute;
    top: -140px;
    left: -130px;
}

.file_4{
    position: absolute;
    top: -130px;
    right: -110px;
}

.file_5{
    position: absolute;
    top: -160px;
    left: 120px;
}

.error-invalid{
    background: #e37c7c;
    color: #7f0606;
    border-left: 4px solid #7f0606;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}


@media(max-width: 600px) {
    .curriculum{
        display: block;
        width: 100%;
    }
    .curriculum .column-curriculum{
        width: 90%;
        margin: auto;
        padding: 10px;
    }
    .carousel{
        padding: 10px;
        margin: 4px;
    }
    .carousel .container {
    width: 90%;
    }
    .hv-footer-description{
        margin-top: 10px;
    }
    .hv-header .info {
        position: relative;
        top: 70px;
    }
    .hv-header .info .box-linked{
        padding-top: 0px;
        margin-top: -40px;
    }
    .tools-adobe {
        display: -moz-box;
        display: flex;
        margin: 20px auto;
        padding: 8px;
    }
}
.btn-idioms{
    position: fixed;
    right: 20px;
    top:10px
}

@media(max-width: 460px) {
    .carousel .container {
        width: 90%;
    }
}



